<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form action="/submit-form" method="post">
        
        <input type="text" id="name" name="name" placeholder="">
        <input list="weight-list" id="weight" name="weight" />
        <label id = "label" for="name">Split:</label>

        <datalist id="weight-list">
        <option value="10">
        <option value="20">
        <option value="30">
        <option value="40">
        <option value="50">
        </datalist>

        <label for="name">Split:</label>
        <input type="text" id="name" name="name" placeholder="">

        <label for="name">Split:</label>
        <input type="text" id="name" name="name" placeholder="">

        <label for="name">Split:</label>
        <input type="text" id="name" name="name" placeholder="">

        <label for="name">Split:</label>
        <input type="text" id="name" name="name" placeholder="">
    </form>
</body>
</html>